bg-black{
    background-color: black;
  }
  .bg-light-black{
    background-color: #262626 !important;
  }
  .text-black{
    color: black;
  }
  .text-light-black{
    color: #262626;
  }
  .bg-dark-primary{
    background-color: orange !important;
  }
  .text-dark-primary{
    color: orange !important;
  }
  .btn-dark{
    border-color:gold;
  }
  
  
  .bg-light{
    background-color: white;
  }
  .bg-light-2{
    background-color: white;
  }
  .bg-light-primary{
    background-color: black !important;
  }
  .text-light-primary{
    color: black !important;
  }
  .text-white{
    color:white;
  }
  .btn-light{
    border-color: #262626;
  }
  
  .react-tel-input input{
    width: 100% !important;
  }